body{
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 10px;
}
#placeholder{
    max-height: 720px;
    max-width: 1280px;
}
